@font-face {
  font-family: Helvetica;
  src: url('Helvetica.otf');
}

body, h1, p, ul {
  font-family: Helvetica, sans-serif;
  color: black;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-top: 0;
  line-height: 1.6;
}

#slideshow img {
  height: auto;
  max-height: 90vh;
  width: auto;
  max-width: 100%;
}

#slideshow {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}



a {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: blue;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 5px;
}

a:visited {
  color: lightcoral;
}

a:hover {
  color: darkred;
  text-decoration: line-through;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.caret::before {
  content: ">";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.nested {
  display: none;
}

.active {
  display: block;
}

/* Add responsive classes */

.container {
  display: flex;
  flex-wrap: wrap;
}

.logo-container {
  flex: 1 0 100%;
  max-width: 350px;
}

.slideshow-container {
  flex: 0 1 0 100%;
}

@media (min-width: 600px) {
  .logo-container, .slideshow-container {
    flex: 1;
  }
}

.page {
  display: flex;
}

.sidebar {
  width: 250px;
  margin-right: 10px;
}

.logo-section {
  margin-bottom: 10px;
}


