@font-face {
  font-family: Helvetica; /* Choose a name for your font */
  src: url('Helvetica.otf'); /* Path to your font file */
}



nav ul li a:link {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blue;
      text-decoration: none;
      padding-right: 10px;
      padding-left: 5px;
  }
   nav ul li a:visited {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: lightcoral;
      text-decoration: none;
      padding-right: 10px;
      padding-left: 5px;
  }
    nav ul li a:hover {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkred;
      text-decoration:line-through;
      padding-right: 10px;
      padding-left: 5px;
  }
nav ul a:link {
font: Georgia;
    color: black;
      text-decoration: none;
      padding-right: 10px;
      padding-left: 5px;
}
nav ul a:visited {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: lightcoral;
      text-decoration: none;
      padding-right: 10px;
      padding-left: 5px;
  }
    nav ul a:hover {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkred;
      text-decoration:wavy;
      padding-right: 10px;
      padding-left: 5px;
  }
  nav ul {
font-family: Helvetica, sans-serif;
    color: black;
      text-decoration: none;
      padding-right: 10px;
      padding-left: 5px;
      line-height: 1.6;
}

ul {
list-style-type: none;
margin: 0;
padding-top: 0;
}
#slideshow img {
  height: 900px;
}
.caret {
cursor: pointer;
-webkit-user-select: none; /* Safari 3.1+ */
-moz-user-select: none; /* Firefox 2+ */
-ms-user-select: none; /* IE 10+ */
user-select: none;
}

.caret::before {
content: ">";
color: black;
display: inline-block;
margin-right: 6px;
}

.caret-down::before {
-ms-transform: rotate(90deg); /* IE 9 */
-webkit-transform: rotate(90deg); /* Safari */
transform: rotate(90deg);  
}
#dropdown {
margin: 0;
padding: 0;
line-height: 1.6;
}
#dropdown a:link {
    font: Georgia;
    color: red;
      text-decoration: none;
      padding-right: 10px;
      padding-left: 10px;
  }
  #dropdown a:visited {
    font: Georgia;
    color: lightcoral;
      text-decoration: none;
      padding-right: 10px;
      padding-left: 10px;
  }
  #dropdown a:hover {
    font: Georgia;
    color: darkred;
      text-decoration: underline;
      padding-right: 10px;
      padding-left: 10px;
  }
.nested {
display: none;
}
.active {
    font: Georgia;
    color: #111;
    display: block;
}
p {
font-family: Helvetica, sans-serif;
font-style: normal;
    color: black;
      text-decoration: underline;
      padding-right: 10px;
      padding-left: 10px;
}